

<div class="container">


<% @submissions.each do |s| %>
<ul class="collection">
 <li class="collection-item avatar">
   <i class="material-icons">arrow_drop_up</i>
   <i class="material-icons">arrow_drop_down</i>
   <%= image_tag('twitter.png', class: 'circle') %>
   <span class="title"><%= link_to s.title, submission_path(s) %></span>
   <p><%= s.content %><br>
      <%= s.user.email %>
   </p>
   <small>
     <%= s.comments.count %>
     <%= link_to CommentPlural(s.comments.count), submission_path(s) %>

   </small>
   <a href="#!" class="secondary-content"><i class="material-icons">grade</i></a>
 </li>

</ul>



<% end %>
<%= link_to "Sign Out", destroy_session_path(current_user), method: :delete %>
<%= link_to "New Reddit Post", new_submission_path %>
</div>
